<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <connectionStrings>
    <add name="viewModelCache" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LoveboatViewModelCache;Integrated Security=True"/>
  </connectionStrings>
</configuration>